body {
    background-color: #00539f;
}
#header {
    text-align: center;
    font-size: 4rem;
    color: #00539f;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px black;
}
#box {
    display: block;
    width: 30vw;
    height: auto;
    background-color: #ff9500;
    border: black 5px;
    border-style: solid;
    margin: 0 auto;
}
#img {
    position: relative;
    left: 7.5vw;
    display: block ;
}
.p {
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
}
.li {
    font-size: 16px;
    margin-bottom: 10px;
}
.ul {
    padding-left: 70px;
}